@media (max-width: 1440px) {
  .logo {
    img {
      width: 100px;
    }
  }

  .header__title {
    font-size: 130px;
    line-height: 108px;
    top: 20px;
    left: 60px;
  }

  .menu {
    padding-top: 10px;
  }

  .header__search {
    padding: 10px 0 12px;
  }

  .header__date {
    font-size: 60px;

    span {
      margin-bottom: 5px;
      padding-top: 0;
      font-size: 14px;
    }
  }

  .header__arrows {
    left: 130px;
  }

  .surf-box__inner {
    min-height: 650px;
  }
}

@media (max-width: 1366px) {
  .header__aside {
    padding-right: 20px;
    height: 108px;
    display: flex;
    border-right: none;
    background-color: rgba($white, .1);
    text-align: left;
    position: absolute;
  }

  .menu {
    padding-top: 0;
  }

  .menu__list {
    text-align: center;

    li {
      display: inline-block;
    }

    a {
      padding: 15px;
    }
  }

  .header__search {
    padding: 33px 15px 15px;
  }

  .header__date {
    padding: 15px;
  }

  .header__location {
    margin-top: 42px;
  }

  .slider-item__info {
    bottom: 125px;
  }

  .slider-item__info-title {
    font-size: 65px;
  }

  .header__arrows {
    left: 20px;
    bottom: 20px;
  }

  .shop__slider-content {
    padding-left: 40px;
  }
}

@media (max-width: 1340px) {
  .header__map {
    svg {
      width: 500px;
      height: 250px;
    }
  }

  .slider-item__info {
    bottom: 116px;
  }

  .slider-arrows {
    top: 20px;
    right: 20px;
  }

  .slider-arrows__left {
    right: 60px;
  }
}

@media (max-width: 1287px) {
  .slider-map .slick-list {
    overflow: hidden;
  }

  .slider-dots__circle {
    box-shadow: none;
  }
}

@media (max-width: 1250px) {
  .slider-map {
    max-width: 1000px;
    min-height: 515px;
  }

  .slider-map {
    .slick-list {
      min-height: 515px;
    }
  }

  .slider-dots--1 {
    top: 266px;
  }
  .slider-dots--2 {
    top: 232px;
  }
  .slider-dots--3 {
    top: 253px;
  }
  .slider-dots--4 {
    top: 390px;
  }
  .slider-dots--5 {
    top: 180px;
  }
  .slider-dots--6 {
    top: 449px;
    left: -85px;
  }
  .slider-dots--7 {
    top: 312px;
    left: -85px;
  }
  .slider-dots--8 {
    top: 397px;
  }

  .shop__slider {
    padding-left: 20px;
  }

  .shop__slider-inner {
    display: block;
  }

  .shop__slider-info {
    padding: 70px 0 50px;
  }

  .shop__slider-price {
    margin-bottom: 30px;
  }

  .surfboard__position--3 .surfboard-box__content {
    left: 60px;

    &::before {
      content: "";
      width: 20px;
      right: auto;
      left: -32px;
    }
  }
}

@media (max-width: 1150px) {
  .surf, .holder {
    padding: 70px 0 50px;
  }

  .holder-slider__descr {
    padding: 160px 0 0 20px;
  }
}

@media (max-width: 1040px) {
  .header__arrows {
    display: none;
  }

  .menu {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 22;
    transform: translateX(-100%);
    transition: all .5s;

    &.active {
      transform: translateX(0);
    }
  }

  .menu-btn {
    display: flex;
  }

  .header__search {
    padding: 40px 15px 15px;
  }

  .slider-item__info {
    right: 20px;
    bottom: 17px;
  }

  .slider-item__info-text {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 20px;
  }

  .headline-left, .headline-right {
    font-size: 16px;
    line-height: 18px;

    &::before {
      width: 50px;
    }
  }

  .headline-left {
    padding-left: 65px;
  }

  .headline-right {
    padding-right: 65px;
  }

  .slider-item__info-title {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 55px;
  }

  .slider-dotshead {
    margin: 0 auto;
    width: auto;
    right: 0px;
    left: 10px;
    bottom: 5px;
  }

  .dots-box {
    width: 125px;
  }

  .dots-box__number {
    font-size: 18px;
  }

  .dots-box__name {
    line-height: 18px;
  }

  .surf__subtitle {
    padding-right: 20px;
  }

  .holder {
    .title {
      span {
        padding-bottom: 0;
      }
    }

    .slider-arrows {
      top: 20px;
    }
  }

  .holder-slider__descr {
    background-position: right -119px;
  }

  .holder-slider__info {
    display: block;
  }

  .holder-slider__info-item {
    margin-bottom: 20px;
    padding-left: 20px;
    min-height: auto;
  }

  .holder-slider__info-subtitle {
    width: auto;
    height: auto;
    text-align-last: left;
    position: static;
    transform: rotate(0deg);
  }

  .holder-slider__info-title {
    padding-left: 0;
  }

  .holder-slider__subtitle {
    padding: 112px 20px 0 0;
    text-align: right;
  }

  .holder-slider__info-title .holder-pricing__span {
    left: 70px;
  }

  .quantity-button.quantity-up {
    right: auto;
    left: 25px;
  }

  .quantity-button.quantity-down {
    right: auto;
  }

  .holder.sleep {
    .holder-slider__info-item {
      &:last-of-type {
        .holder-slider__info-title {
          padding-left: 100px;
          text-align: left;
        }
      }
  
      .summ {
        left: 0;
      }
    }

    .holder-slider__descr {
      background-position: right 10px;
    }
  }

  .footer {
    padding: 150px 0 35px;
  }
}

@media (max-width: 1102px) {
  .slider-map {
    max-width: 100%;
    min-height: 280px;
    background-image: none;

    .slick-track {
      min-height: 280px;
    }

    .slick-list {
      min-height: 280px;
      overflow: hidden;
    }

    .slick-current {
      .slider-dots__content {
        background: rgba(#254e44, .7);
      }
    }
  }

  .slider-dots {
    position: static;
  }

  .slider-dots__circle {
    display: none;
  }

  .slider-dots--1 .slider-dots__content,
  .slider-dots--8 .slider-dots__content {
    transform: translateX(0);
  }

  .slider-dots__content {
    display: block;
    transform: translateX(0);

    &::before {
      display: none;
    }
  }

  // .slick-slide .slick-current .slider-dots__content {
  //   background: rgba(#0F1010, .7);
  // }
}

@media (max-width: 767px) {
  .slider-item__info {
    bottom: 60px;
  }

  .slider-dotshead {
    max-width: 700px;
  }

  .dots-box {
    width: 115px;
  }

  .holder-slider__descr {
    margin-top: -230px;
  }

  .holder-slider__info {
    padding-bottom: 20px;
  }

  .surfboard-box__content {
    padding-left: 0;
    width: 270px;
    top: 35px;
    left: 0;

    &::before {
      display: none;
    }
  }

  .surfboard__position--1 {
    .surfboard-box__content {
      left: -145px;
    }
  }

  .surfboard__position--3 .surfboard-box__content {
    left: 40px;
  }
  
  .shop__extras {
    padding: 0 20px 0 75px;
  }
}

@media (max-width: 720px) {
  .title {
    span {
      padding: 0 0 80px 10px;
      font-size: 87px;
    }
  }

  .surf-slider {
    padding-top: 65px;

    .slider-arrows {
      top: 20px;
    }
  }

  .holder-slider__head {
    min-height: 720px;
  }

  .holder-slider__subtitle {
    padding: 100px 20px 0 0;
  }

  .surfboard__position--1 {
    left: 155px;
  }

  .shop__slider-content {
    display: block;
  }

  .shop__extras {
    padding: 35px 20px 0 0px;
  }

  .footer {
    padding: 100px 0 35px;
  }
}

@media (max-width: 640px) {
  .holder-slider__descr {
    background-image: none !important;
  }

  .holder {
    background-position: right 90%;
    background-size: 170px;
  }
}

@media (max-width: 545px) {
  .slider-item__info {
    bottom: 17px;
  }

  .slider-dotshead {
    display: none;
  }

  .headline-left, .headline-right {
    letter-spacing: 2.33333px;
  }

  .subtitle__head {
    padding-right: 0px;
    font-size: 32px;
  }

  .descr__head {
    font-size: 32px;
  }
}

@media (max-width: 460px) {
  .header__aside {
    padding-right: 0;
    display: block;
    height: 100vh;
    text-align: center;
  }

  .header__search {
    padding: 15px 0 10px;
  }

  .header__date {
    padding: 0;
    font-size: 50px;
    line-height: 45px;

    span {
      font-size: 12px;
    }
  }

  .header__location {
    margin-top: 0px;
  }

  .header__title {
    display: none;
  }

  .slider-item__info-title {
    font-size: 42px;
    line-height: 42px;
  }

  .slider-item__info-text {
    font-size: 27px;
  }

  .headline-left, .headline-right {
    font-size: 14px;
  }

  .header__map {
    svg {
      width: 450px;
    }
  }

  .holder {
    background-size: 120px;
  }

  .holder-slider__descr {
    min-height: 300px;
  }

  .holder-slider__info-subtitle {
    font-size: 16px;
    letter-spacing: 6px;
  }

  .holder-slider__info-title {
    font-size: 35px;

    .holder-pricing__span {
      left: 45px;
    }
  }

  .btn {
    font-size: 30px;
  }

  .holder-slider__descr .holder__star-list {
    top: 30px;
    right: auto;
    left: -15px;
  }

  .holder.sleep {
    .holder-slider__info-item {
      &:last-of-type {
        .holder-slider__info-title {
          padding-left: 90px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .slider-dots__content {
    padding: 28px 15px 0;
    width: 250px;
  }

  .surfboard__position--2 {
    left: 3px;
  }

  .shop__slider-content {
    padding-left: 0px;
  }
}

@media (max-width: 374px) {
  .slider-dots__content {
    padding: 28px 10px 0;
    width: 200px;
  }

  .shop__extras-box {
    margin-right: 30px;
    text-align: center;
  }
}