html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #171919;
  color: $white;
  text-transform: uppercase;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $white;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

.headline-left,
.headline-right {
  display: inline-block;
  font-size: 22px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 7.33333px;
  color: rgba($white, .5);
  position: relative;

  &::before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: rgba($white, .5);
    position: absolute;
    top: 50%;
  }
}

.headline-left {
  padding-left: 103px;

  &::before {
    left: 0;
  }
}

.headline-right {
  padding-right: 103px;

  &::before {
    right: 0;
  }
}

.title {
  div {
    display: inline-block;
    font-weight: 800;
    font-size: 200px;
    color: rgba($white, .02);
    position: relative;
    transform: translateX(-50px);
  }

  span {
    display: inline-block;
  }

  h3 {
    margin: 0;
    font-size: 80px;
    color: $white;
    position: absolute;
    top: 5px;
    right: -10px;

    &::after {
      content: "";
      width: 80px;
      height: 1px;
      background: $green;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.subtitle {
  display: inline-block;
  text-align: right;

  &__head {
    padding-right: 10px;
    font-weight: 800;
    font-size: 40px;

    span {
      font-weight: 100;
    }
  }
}

.descr {
  padding-left: 5px;
  display: inline-block;

  &__head {
    font-weight: 800;
    font-size: 40px;

    span {
      font-weight: 100;
    }
  }
}

.btn {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;

  transform: translateY(0);
  transition: all .5s;

  &:hover {
    transform: translateY(-8px);

    span {
      background-color: $dark-green;
    }
  }

  span {
    margin-left: 19px;
    padding: 17px 57px 17px 17px;
    display: inline-block;
    background-color: $green;
    position: relative;
    transition: all .5s;

    &::before {
      content: "";
      width: 20px;
      height: 1px;
      background-color: $white;
      position: absolute;
      top: 50%;
      left: -10px;
    }

    &::after {
      content: "";
      width: 25px;
      height: 21px;
      background: url(../img/arrows-right.svg);
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
  }
}

.surf,
.holder {
  padding: 160px 0 120px;
}

.holder {
  padding: 160px 0 260px;
}

.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  appearance: textfield;
  -moz-appearance: textfield;
}

.quantity input {
  width: 30px;
  height: 42px;
  display: block;
  background-color: transparent;
  border: none;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  color: $white;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  height: 42px;
}

.quantity-button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  cursor: pointer;
}

.quantity-button.quantity-up {
  position: absolute;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  right: 27px;
}

.star-list {
  li {
    display: inline-block;

    & + li {
      margin-left: -25px;
    }
  }
}